.forContainer {
  margin-bottom: 340px;
  padding-top: 63px;
}

.clearButton {
  height: 46px;
  width: 70px;
  margin-right: 10px;
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}

.clearButton:hover {
  color: antiquewhite;
  background-color: rgb(200, 0, 0);
}

.filterButton {
  display: none;
  width: 80px;
  height: 45px;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.shopMainBlock {
  display: flex;
}

.filters {
  max-width: 200px;
}

.productSection {
  max-width: 1090px;
}

@media (max-width: 769px) {
  .shopMainBlock {
    display: block;
  }

  .filters {
    display: none;
  }

  .filterButton {
    display: block;
  }
}