.forContainer {
  padding-top: 100px;
}

.mainBlock,
.prodcutBlock {
  display: flex;
  justify-content: space-between;
}

.imagesBlock {
  width: 420px;
  margin-bottom: 38px;
}

.mainPhoto {
  width: 385px;
  height: 385px;
  cursor: pointer;
}

.optionsTitle {
  margin-top: 1rem;
  font-size: 19px;
}

.options {
  margin-right: 1rem;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

.options:hover {
  color: beige;
  background-color: black;
}

.optionsSelect {
  margin-right: 1rem;
  padding: 7px;
  color: beige;
  background-color: black;
  border-radius: 5px;
}

.blockPriceAndButtonToBasket {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 32px;
  border: "5px solid lightgray";
}

.titleReview {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.review {
  max-width: 1000px;
}

.noneReviews {
  margin-bottom: 110px;
}

@media (max-width: 1199px) {
  .imagesBlock{
    width: 333px;
  }
  .mainPhoto {
    width: 305px;
    height: 305px;
  }
}

@media (max-width: 991px) {
  .titleReview {
    margin-top: 80px;
  }
  .mainBlock {
    display: block;
  }
  .blockPriceAndButtonToBasket {
    width: 100%;
    height: 55px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 767px) {
  
}