.buttonOnCarousel {
  position: absolute;
  font-size: 18px;
  bottom: 270px;
  border-radius: 0;
  padding: 15px;
  text-decoration: none;
  border: 1px solid rgb(255, 252, 252);
  transform: translate(-50%, 50%);
  color: white;
  background-color: transparent;
  transition: background-color  0.5s ease-in-out;
} 

.buttonOnCarousel:hover{
  color: black;
  border: 1px solid rgb(255, 252, 252);
  background-color: azure;
}

.titleOnSlider {
  font-size: 38px;
}

.carouselItem {
  max-width: 100%;
  height: auto;
}

.carouselImage {
  width: 100%;
  height: 600px;
}

@media (max-width:1399px) {
  .buttonOnCarousel {
    bottom: 230px;
  }
  .carouselImage,
  .carouselItem {
    height: 500px;
  }
}

@media (max-width:1199px) {
  .buttonOnCarousel {
    bottom: 180px;
  }
  .carouselImage,
  .carouselItem {
    height: 400px;
  }
}

@media (max-width:991px) {
  .buttonOnCarousel {
    bottom: 130px;
  }
  .carouselImage,
  .carouselItem {
    height: 300px;
  }
}