.forContainer {
  padding-top: 63px;
  margin-bottom: 30px;
}

.cardProduct {
  width: 200px;
  cursor: pointer;
}

.deleteProductButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.deleteProductButton:focus {
  outline: none;
}

.deleteProductButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.deleteProductButton > svg {
  width: 100%;
  height: 100%;
  color: #999;
}

.deleteProductButton > svg:hover {
  color: #ff0000;
}

@media (max-width: 769px) {
  .forContainer {
    padding-top: 1px;
  }
}