.accordionHeader {
  font-size: 18px;
}

.arrow {
  margin-left: 129px;
  font-size: 17px;
}

.checkbox input[type="checkbox"],
.checkbox label {
  cursor: pointer;
}

.checkbox label {
  margin-left: 5px;
}