.sectionTitle {
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.brands,
.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonCategories {
  margin: 10px 5px;
  height: 200px;
  width: 415px;
  font-size: 30px;
  border-radius: 3px;
  color: black;
  border: 1px solid black;
  background-color: white;
  background-color: transparent;
  transition: background-color  0.5s ease-in-out;
}

.blockBestsellers {
  display: flex;
  justify-content: space-around;
}

.cardProductBestsellers {
  text-align: center;
  width: 280px;
  border: 0;
}

.productNamePrice {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

.productNamePrice:hover {
  color: black;
}

.buttonBrands {
  margin: 10px 5px;
  width: 300px;
  height: 200px;
  font-size: 30px;
  border-radius: 3px;
  color: black;
  border: 1px solid black;
  background-color: white;
  background-color: transparent;
  transition: background-color  0.5s ease-in-out;
}

.buttonBrands:hover,
.buttonCategories:hover,
.buttonForGoflClubsAndBrands:hover {
  background-color: black;
  color: wheat;
}

.buttonForMore {
  width: 300px;
  background-color: black;
  color: white; 
  padding: 5px 0;
}

.storeOffers {
  display: flex;
  justify-content: space-around;
  margin: 35px 0;
}

.textForGoflClubsAndBrands {
  width: 400px;
  margin: 10px auto;
  text-align: center;
}

.imageForGoflClubsAndBrands {
  margin: 10px auto;
  width: 500px;
  height: 600px;
}

.buttonForGoflClubsAndBrands {
  margin: 10px auto;
  height: 38px;
  width: 75px;
  text-align: center;
  font-size: 22px;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background-color: white;
  background-color: transparent;
  transition: background-color  0.5s ease-in-out;
}

@media (max-width: 1199px) {
  .storeOffers{
    display: block;
  }
}