.myDropdown {
  margin-right: 1.2rem;
}

.myDropdownToggle {
  padding: 0;
  border: 0;
}

.myInput {
  width: 375px;
}

.image {
  width: 45px;
  height: 45px;
  margin-right: 18px;
  cursor: pointer;
}

.clearSearch {
  position: absolute;
  color: black;
  margin-left: 350px;
  margin-top: 4px;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.dropdownMenu {
  /* position: absolute; */
  width: 375px;
  padding: 5px;
  max-height: 225px;
  overflow-y: auto;
  background-color: rgb(245, 239, 239);
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .myInput{
    max-width: 300px;
  }
  .clearSearch {
    margin-left: 275px;
  }
}

@media (max-width: 1050px) {
  .myInput{
    max-width: 250px;
  }
  .clearSearch {
    margin-left: 225px;
  }
}

@media (max-width: 960px) {
  .myInput{
    max-width: 300px;
  }
  .clearSearch {
    margin-left: 275px;
  }
}