.myDropdownToggle {
  padding: 0;
}

.myInput {
  width: 410px;
}

.image {
  width: 45px;
  height: 45px;
  margin-right: 18px;
  cursor: pointer;
}

.clearSearch {
  position: absolute;
  color: black;
  margin-left: 380px;
  margin-top: 4px;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.dropdownMenu {
  position: absolute;
  width: 411px;
  padding: 5px;
  max-height: 225px;
  overflow-y: auto  ;
  background-color: rgb(245, 239, 239);
  border-radius: 5px;
}

.dropdownItem {}

.dropdownItem:active {
  color: black;
  background-color: rgb(217, 249, 238);
}