.myCard {
  width: 245px;
  height: 335px;
  margin: 10px 0px 10px 22px;
}

.butthonWishlist {
  font-size: 1.5rem;
  color: rgb(205, 191, 5);
  position: absolute;
  top: 1px;
  right: 0;
  background-color: white;
  border: 0;
  border-radius: 3px;
}

.butthonWishlist:hover {
  color: rgb(205, 191, 5);
  background-color: antiquewhite;
}

.myImage {
  width: 200px;
  height: 200px;
  margin: 5px auto;
  cursor: pointer;
}

.nameProduct {
  cursor: pointer;
  font-size: 17px;
  margin-top: 5px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.nameProduct:hover {
  color: black;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.priceAndBasketProduct {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  align-items: flex-end;
}

.buttonBasket {
  font-size: 1.3rem;
  color: black;
  cursor: pointer;
}


@media (max-width: 1399px) {
  .myCard {
    margin: 10px 0px 10px 40px;
  }
}

@media (max-width: 1199px) {
  .myCard {
    width: 235px;
    height: 335px;
    margin: 10px 8px 10px 1px;
  }
}

@media (max-width: 769px) {
  .myCard {
    width: 235px;
    height: 335px;
    margin: 10px 0px;
  }
}