.button {
  margin: 10px;
  width: 38px;
  height: 38px;
  font-size: 20px;
  border-radius: 50%;
}


.buttonInactive {
  background-color: rgb(19, 26, 24);
  color: aliceblue;
}

.button:hover, .buttonActive {
  color: black;
  background-color: white;
  border: 1px solid black;
}