.button {
  margin: 10px;
  width: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  border-radius: 50%;
}

.buttonInactive {
  background-color: rgb(19, 26, 24);
  color: aliceblue;
}

.button:hover, .buttonActive {
  color: black;
  background-color: white;
  border: 1px solid black;
}