.forContainer {
  padding-top: 63px;
}

.input[type="checkbox"] {
  margin: 15px 10px 5px 0px;

  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
}

.lable {
  font-size: 20px;
}

.row {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.h3 {
  font-size: 23px;
  margin-left: -2px;
}